*{
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.homepage {
  background-position: center;
}



header {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-bottom: 1px solid rgb(202, 2, 2);
}
header img {
  width: 200px;

}


.carousel_item {
  width: 280px;
  height: 300px;
  background-color: aliceblue;
}
.carousel_wrapper {
  padding: 10px 30px;
}

.landing_wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_wrapper img {
  width: 280px;
}

/* container1 */
.container1_wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.container1_wrapper img:nth-child(1) {
  width: 800px;
  padding-bottom: 20px;
}
.container1_wrapper img:nth-child(2) {
  width: 1100px;
}
.first_image {
  position: absolute;
  bottom: 40px;
  width: 50%;
}

@media screen and (max-width:1100px){
  .container1_wrapper img:nth-child(1) {
    width: 700px;
  }
  .container1_wrapper img:nth-child(2) {
    width: 1000px;
  }
}

@media (max-width:1287px){
  .container1_wrapper img:nth-child(1) {
    width: 800px;
  }
  .container1_wrapper img:nth-child(2) {
    width: 1100px;
  }
}

@media (min-width:2000px){
  .container1_wrapper img:nth-child(1) {
    width: fit-content;
  }
  .container1_wrapper img:nth-child(2) {
    width: fit-content;
  }
}

/* Container2 */
.container2_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}
.container2_wrapper p {
  width: 40%;
  font-family: 'Poppins', sans-serif;
  color: red;
}

/* container3 */
.container3_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
}
.container3_wrapper div {
  display: flex;
  flex-direction: column;
}
.container3_wrapper div a {
  color: red;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

/* container5 */
.container5_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.container5_wrapper img {
  padding-top: 30px;
}

/* Container4 */
.container4_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
}
.section_1 {
  display: flex;
  justify-content: space-evenly;
}
.section_2 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.section_3 img{
  float: right;
  margin-right: 200px;
}
.section_4 img {
  margin-left: 200px;
}