*{
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}

.homepage {
  background-position: center;
}

.title {
  font-family: 'Poppins', sans-serif;
  color: rgb(185, 0, 0);
  font-size: 40px;
  font-weight: bold;
}

/* header */
header {
  display: flex;
  justify-content: center;
  padding: 15px;
  border-bottom: 1px solid rgb(202, 2, 2);
}
header img {
  width: 200px;
}


.carousel_item {
  width: 90%;
  height: 300px;
  padding: 10px;
  background-color: aliceblue;
}
.carousel_wrapper {
  padding: 10px 30px;
}

.landing_wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing_wrapper img {
  width: 30%;
}

/* container1 */
.container1_wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.container1_wrapper img:nth-child(1) {
  width: 800px;
  padding-bottom: 20px;
}
.container1_wrapper img:nth-child(2) {
  width: 1100px;
}
.first_image {
  position: absolute;
  bottom: 40px;
  width: 50%;
}



@media screen and (max-width:1100px){
  .container1_wrapper img:nth-child(1) {
    width: 700px;
  }
  .container1_wrapper img:nth-child(2) {
    width: 1000px;
  }
}

@media (max-width:1287px){
  .container1_wrapper img:nth-child(1) {
    width: 800px;
  }
  .container1_wrapper img:nth-child(2) {
    width: 1100px;
  }
}

@media (min-width:2000px){
  .container1_wrapper img:nth-child(1) {
    width: fit-content;
  }
  .container1_wrapper img:nth-child(2) {
    width: fit-content;
  }
}

@media screen and (max-width:720px){
  .container1_wrapper img:nth-child(1) {
    width: 300px;
  }
  .container1_wrapper img:nth-child(2) {
    width: 300px;
  }
  .container1_wrapper {
    height: 90vh;
  }
  .first_image {
    bottom: 40%;
  }
}

/* Container2 */

.container2_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container2_wrapper p {
  width: 50%;
  font-family: 'Poppins', sans-serif;
  color: red;
}
.about_image {
  width: 300px;
  height: 300px;
  background-color: aliceblue;
}
@media screen and (max-width:720px) {
  .container2_wrapper {
    margin-top: 0px;
    justify-content: center;
  }
  .container2_wrapper p {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
  .container2_wrapper img {
    width: 60%;
  }
}

/* container3 */
.container3_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
.container3_wrapper div {
  display: flex;
  flex-direction: column;
}
.container3_wrapper div a {
  color: red;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

@media screen and (max-width:720px) {
  .container3_wrapper {
    margin-top: 70px;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .container3_wrapper img {
    width: 60%;
  }
}

/* container5 */
.container5_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.container5_wrapper img {
  width: 1100px;
  padding-top: 30px;
}
@media screen and (max-width:720px)  {
  .container5_wrapper{
    margin-top: 40px;
  }
  .container5_wrapper img {
    width: 100%;
  }
}

/* Container4 */
.container4_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  margin-top: 100px;
  margin-bottom: 100px;
}
.section_1 {
  display: flex;
  justify-content: space-evenly;
}
.section_2 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.section_3 img{
  float: right;
  margin-right: 200px;
}
.section_4 img {
  margin-left: 150px;
}

@media screen and (max-width:720px)  {
  .container4_wrapper {
    margin-top: 70px;
    margin-bottom: 0px;
  }
  .section_1 {
    align-items: center;
  }
  .section_1 img,.section_2 img,.section_3 img,.section_4 img {
    width: 30%;
  }
  .section_3 img{
    margin-right: 100px;
    margin-top: 20px;
  }
  .section_4 img {
    margin-left: 50px;
  }
}

/* container6 */
.container_6 {
  margin-top: 100px;
  background-color: black;
}
.container_6 p{
  text-align: center;
  color: red;
  font-size: 14px;
  
}
.container_6wrapper {
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container_6wrapper img {
  width: 250px;
}
.container_6wrapper .list_container {
  display: flex;
}


@media screen and (max-width:720px) {
  .container_6 {
    margin-top: 50px;
  }
  .container_6wrapper {
    justify-content: center;
  }
}